<div class="session__container">
  <div class="session__header">
    <h1 class="session__header-title">Welcome to the Blog</h1>
  </div>
  
  <%= form_with url: session_path, method: :post, class: "session__form" do |form| %>
    <div class="session__form-group">
      <%= form.label :name, "Your Name", class: "session__form-label" %>
      <%= form.text_field :name, autofocus: true, required: true, class: "session__form-input" %>
    </div>
    
    <div class="session__form-group">
      <%= form.submit "Start Blogging", class: "session__form-submit" %>
    </div>
  <% end %>
</div>
