<div class="post__container">
  <div class="post__back-link">
    <%= link_to "← Back to Post", @post, class: "button button--secondary" %>
  </div>

  <div class="post__content">
    <h1 class="post__header-title">Edit Post</h1>

    <%= render "form", post: @post %>
  </div>
</div>
